5_de_oct/arboles.dtd

<!ELEMENT arbol (especie)+>
<!ELEMENT especie (nombre, variedad, (origen)+, color_fruto, 
(maduracion)+ , riego?,(precio)?)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT variedad (#PCDATA)>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT color_fruto (#PCDATA)>
<!ELEMENT maduracion (#PCDATA)>
<!ELEMENT riego (#PCDATA)>
<!ELEMENT precio (#PCDATA)>