5_de_oct/xschema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="usuario" type = "Tuser"/>
    <xs:complexType name="Tuser">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="fechaNac" type="xs:date"/>
        </xs:sequence>
      
    </xs:complexType>
 
</xs:schema>